<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>8803MAS-LockGame.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03F47D0F231AF7DC0079A9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03F47D29231AF7DF0079A9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03F47D34231AF7E00079A9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
